body {
    font-family: "Raleway", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.navigation ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
}

.navigation li.logo {
    font-size: 18px;
    font-weight: 700;
    color: black;
    letter-spacing: 4px;
}

.donate {
    visibility: hidden;
}

/* BANNER */

#banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 700px;
}

#banner .content h1 {
    border: 3px solid white;
    width: 400px;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    font-weight: 600;
    color: white;
    text-align: center;
}

/* MAIN */

#main {
    text-align: center;
    width: 400px;
    height: 1000px;
    overflow: scroll;
    margin: 0 auto;
    padding: 40px;
}

h2 {
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    color: red;
    border: 1px dotted red;
    margin: 30px 20px;
    padding: 20px 30px;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    color: red;
    padding: 20px 10px;
}

p {
    font-size: 16px;
    line-height: 48px;
    color: grey;
    margin-top: 60px;
    padding: 10px 20px;
}